{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('assets/img/kenda_online/bgKen.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1>KENDA ONLINE
                            <span class="pro-badge">
                YES
              </span>
                        </h1>
                        <h3 class="title">Plateforme de vente de produit et d'offre de service au Cameroun.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h4 class="description text-center">Lorem ipsum dolor sit amet,  ullamco laboris nisi cillum dolore eu fugiat nulla pariatur</h4>
                    </div>
                </div>
                <div class="features-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-rose">
                                    <i class="material-icons">apps</i>
                                </div>
                                <h4 class="info-title">Huge Number of Components</h4>
                                <p>Every element that you need in a product comes built in as a component. All components fit perfectly with each other and can take variations in colour.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="material-icons">view_day</i>
                                </div>
                                <h4 class="info-title">Multi-Purpose Sections</h4>
                                <p>Putting together a page has never been easier than matching together sections. From team presentation to pricing options, you can easily customise and built your pages.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">view_carousel</i>
                                </div>
                                <h4 class="info-title">Example Pages</h4>
                                <p>If you want to get inspiration or just show something directly to your clients, you can jump start your development with our pre-built example pages.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-components">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <h3 class="title">Service de base
                            <h6 class="description">Les services offerts par Kenda Online</h6>
                            <h5 class="description">We re-styled every and also fit with each other.  that you need in a development have been re-design with the new look. Besides the numerous basic elements, we have also created additional classes. All these items will help you take your project to the next level.
                            </h5>
                        </h3>
                    </div>
                    <div class="col-lg-6 col-md-12 ml-auto">
                        <div class="image-container">
                            <img class="components-macbook" src="./assets/img/section-components/laptop-basics.png" alt="" />
                            <img class="table-img" src="./assets/img/section-components/table.jpg" alt="" />
                            <img class="share-btn-img" src="./assets/img/section-components/share-btn.jpg" alt="" />
                            <img class="coloured-card-btn-img" src="./assets/img/section-components/coloured-card-with-btn.jpg" alt="" />
                            <img class="coloured-card-img" src="./assets/img/section-components/coloured-card.jpg" alt="" />
                            <img class="social-img" src="./assets/img/section-components/social-row.jpg" alt="" />
                            <img class="pin-btn-img" src="./assets/img/section-components/pin-btn.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-sections">
            <div class="container">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="section-description">
                        <a href="sections.html" target="_blank" class="btn btn-info btn-round">Voir toutes les catégories</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <img src="./assets/img/sections/h_1.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <img src="./assets/img/sections/h_2.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <img src="./assets/img/sections/h_3.jpg" alt="">
                    </div>
                    <div class="col-md-3">
                        <img src="./assets/img/sections/h_4.jpg" alt="">
                    </div>
                </div>


            </div>
        </div>
        <!--     *********    END FEATURES 5      *********      -->
        <!--     *********     FEATURES 5      *********      -->
        <div class="section section-overview">
            <div class="section-testimonials team-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Nos partenaires</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-pricing pricing-5 iframe-extern">
        <div class="social-line text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Merci de partager!</h4>
                        <a href="#pablo" id="twitter" class="btn btn-twitter btn-round">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" id="facebook" class="btn btn-facebook btn-round">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="#pablo" id="google" class="btn btn-google btn-round">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
